{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/app.css" />

    <title>SolarSnap</title>
  </head>
  <body>
    <div class="container center">
      <div id="app" class="row"></div>
      <div></div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container center-h">
          <div class="row form-group">Name:&nbsp;{{ form.name }}</div>
          <div class="row form-group">{{ form.uploaded_image }}</div>
          <div class="row form-group">
            <p id="confirm"></p>
            <div class="btn-group">
              <input
                type="submit"
                class="btn btn-danger"
                value="aerial"
                name="submit"
                onclick="getElementById('confirm').innerHTML='<b>Your image is being processed...'"
              />
              <input
                type="submit"
                class="btn btn-success"
                value="ground"
                name="submit"
                onclick="getElementById('confirm').innerHTML='<b>Your image is being processed...'"
              />
            </div>
            <!-- <button
              type="submit"
              class="btn btn-warning"
              onclick="getElementById('confirm').innerHTML='<b>Your image is being processed...'"
            >
              Upload
            </button> -->
          </div>
        </div>
      </form>
    </div>
    <script src="../static/app.js"></script>
    <script
      type="text/javascript"
      src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'src/vue/dist/js/app.js' %}"
    ></script>
    <link href="{% static 'src/vue/dist/css/app.css' %}" rel="stylesheet" />
  </body>
  <style></style>
</html>
